<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>
    <h1><%= language %> Songs</h1>
    <ul>
      <% songs.forEach(function(song) { %>
        <a href="/<%= language %>-songs/<%= song.artist %>/<%= song.name %>">
          <img src="/images/<%= song.image %>" alt="<%= song.artist %> <%= song.name %>" />
        </a>
      <% }); %>
    </ul>
  </body>
</html>

