<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
    <% include partials/google_analytics %>
    <link rel='stylesheet' href='/stylesheets/<%= song.css %>.css' />
    <link rel='stylesheet' href='/stylesheets/navbar.css' />
    <script type="text/javascript" src="/javascripts/song_quiz.js"></script>
  </head>
  <body>
    <% include partials/navbar %>
    <div class="container">
      <div class="row">
        <div class="col-md-1">
          <a href="/"><i id="left-arrow" class="fa fa-arrow-circle-o-left fa-3x"></i></a>
        </div>
        <div class="col-md-11">
          <h1 class="title text-center"><%= song.name.replace(/-/g, " ").toUpperCase() %></h1>
        </div>
      </div>
      <div class="col-md-6 text-center">
        <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/<%= song.youtube_id %>" frameborder="0"></iframe>
        <h2 class="text-center">Score: <span class="score"></span> / <span class="total-questions"></span></h2>
      </div>
      <div class="col-md-6 text-center lyric-quiz">
        Press <span class="label label-info">Enter</span> to grade the word and <span class="label label-info">Tab</span> to skip to the next word.<br />
        <hr />
        <span class="lyrics"></span>
      </div>
    </div> <!--container-->
    <div class="parameters hide" data-song="<%= song.name %>" data-difficulty="<%= difficulty %>">
    </div>
  </body>
</html>
